body{

	font-family: 'Lobster', cursive;
}


.row{
	clear: both;
}
.navbar-collapse{
	background-color: blue;
	color: white;
}
.navbar-nav{
	background-color: #95AEF4;
	color: white;
	position: fixed;
}
.jumbotron{	
	color: black;
	font-size: 66px;
	text-align: center;
	background-image:  url(fem.jpg);
	background-size: 100%;
	min-height: 600px;

}
.rounded{
	float: left;
	border-top: 0px;

}
.card-header{
	background-color: blue;
	color: white;


}.card-body{
	background-color: #DDDFDA;


}
.carousel-item{
	width: 100%;
	height: 300px;
	-webkit-background-size: cover;
	-moz-background-size: cover;	
	background-size: cover;

}
@media (max-width: 600px){
.carousel-item{
	height: 280px;

}.card-body{
	background-color: #DDDFDA;

}
.container{
	background-color: #F0F06F;
}
.display-4{
	font-size: 60px;
}
.lead{
	font-size: 50px;

}